*{
   margin:0;
   padding:0;
   box-sizing:border-box;
   font-family:'poppins',sans-serif;
}
.container{
    width: 100%;
    height: 200vh;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
    padding: 0 7%;
    color: #fff;

}

html{
    scroll-behavior: smooth;
}
nav{
    width: 100%;
    padding:20px 0;
    display: flex;
    align-items: center;
}
nav H2{
    color:#ff960b ;
}
.logo{
    width:100px;
    cursor: pointer;
}
nav ul{
    flex: 1;
}
nav ul  li{
    display: inline-block;
    margin:10px 20px;
}
nav ul  li a{
    color:#fff;
    text-decoration: none;
    font-size:20px;
}
.container ul li:hover {
    background:#ff960b;
    border-radius:20px;
    width:150px;
     margin: 10px; 
     padding:10px; 
}

.nev-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
